:root {
    --primary-color: #F1CE1A;
    --secondary-color: #015277;
    --accent1-color: #BCBCBC;
    --accent2-color: #E0338D;
}

body{
    width: 70%;
    height: auto;
    margin: auto;
    background-color:#635e5e;
}

header {
    background-color: var(--secondary-color);
	display: grid;
	grid-template-columns: 200px 1fr;
    border: 1px solid black;
    place-items: center stretch;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
 
}

.pagelinks a {
    color: black;
    padding: 5px;
    border: 1px solid black;
    text-decoration: none;
    background-color: var(--accent1-color);
}

.pagelinks a:hover{
    background-color: #635e5e;
}


.hero{
    
    margin-top: 10px;
    position: relative;
}

.hero img {
    display:block;
    width: 100%;
    height: auto;
    border-radius: .5rem;
}


.hero h1 {
    top: 0%;
    background-color: #bcbcbc56 ;
    position: absolute;
 
    font-family: "Quicksand", serif;
}

.hero h2 {
    top: 0%;
    color: var(--primary-color);
    position: absolute;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    font-family: "Quicksand", serif;
    font-size: 30px;
    text-decoration: underline black;
}

.hero article {
    top: 30%;
    position: absolute;
    background-color:#bcbcbc9d;
}

.hero article img{
    float: right;
    width: 150px;
    height: 150px;

}

.history{
    margin-top: 10px;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.history h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 3px;
    text-decoration: underline black;
}

.history p{
    background-color: var(--accent1-color);
    padding: 10px;
}


h2 {
    font-family: "Permanent Marker", serif;
    color: var(--primary-color);
}

p {
    font-family: "Quicksand", serif;
}

.slideshow{
    margin-top: 10px;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.slideshow h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 3px;
    text-decoration: underline black;
}


.slideshow img{
     max-width: 220px;
    max-height: 150px;

}

.slides{
    display: flex;
    flex-direction: row;
}

figure{
    background-color: var(--primary-color);
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

figcaption {
    background-color: var(--accent1-color);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

footer {
    margin-top: 10px;
    background-color: var(--secondary-color);
	display: grid;
	grid-template-columns: 3fr 1fr;
    border: 1px solid black;
    place-items: center stretch;
}

footer p{
    display: flex;
    justify-content:center;
}

.sociallinks{
    display: flex;
    justify-content: space-evenly;
}

.sociallinks img{
    width: 50px;
    height: auto;
}

.wireframe {
    text-align: center;
    color: black;
    padding: 1px;
    border: 1px solid black;
    text-decoration: none;
    background-color: var(--accent1-color);
}

.employees{
    display: flex;
    border: thin solid black;
    background-color: var(--accent1-color);
    
}

.employees h2{
    text-align: center;
    text-decoration: underline black;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 3px;
    text-decoration: underline black;
}

.employees div {
    display: flex;
    flex-direction: row;
}

.employees figure{
    margin: 10px;
}

.employees img{
    width: 220px;
    height: 220px;
}


form {
    padding: 1rem;
    border: thin solid black;
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: thin solid black;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3em;
}


label {
    text-align: right;
    padding: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: steelblue;
}

.form-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;

}

.column1 {
    display:inline-block;
    text-align:center;
}

.column1 label {
    text-align: left;
}

.column2{
    text-align: center;
    place-self: center;

}

.column2 label {
    text-align: center;
}


.company_info {
    background-color: var(--secondary-color);
    border: thin solid black;
    border-radius: 0.5em;
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}


.company_info h2{
    text-align: center;
    text-decoration: underline black;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 3px;
    text-decoration: underline black;
}

.company_info .text{
    background-color: #bcbcbc8a;
}

.call button{
    display: block;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto auto;
    place-self: center;
    background-color: var(--accent1-color);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0.5em;
    border: thin solid black;
  }

  .box {
    margin-top: 10px;
  }

  .box img {
    width: 220px;
    height: 220px;
  }

  
  
